<h2><%= @vinylrecord.title %></h2>
<div class="vinyl_record_body">
  <table>
  <caption>Records</caption>
  <thead>
      <tr>
        <th>quantity</th>
        <th>name</th>
      </tr>
  </thead>
  <tbody>
    <% @recipe.collections.each do |portion| %>
      <tr>
        <td><%= collection %> <%= collection %> of </td>
        <td><%= collection.vinyl_record.name %></td>
      </tr>
      <% end %>
  </tbody>
</table>
  <p class="vinyl_record_content">
    <%= @vinyl_record.content %>
  </p>
</div>

