<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Record</h2>

  <%= form_for(:record, :url => {:action => 'create'}) do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Artists</th>
        <td><%= f.text_field(:artist) %></td>
      </tr>
      <tr>
        <th>Albums</th>
        <td><%= f.text_field(:releases) %></td>
      </tr>
      <tr>
        <th>Labels</th>
        <td><%= f.text_field(:lables) %></td>
      </tr>
      <tr>
        <th>Searching</th>
        <td><%= f.text_field(:searching) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Subject") %>
    </div>

  <% end %>
</div>
